.main {
  width: 90%;
  margin: 0 auto 4rem;
}

.banner {
  margin-bottom: 3rem;
}

.banner h1,
.banner p {
  text-align: center;
}

.blog_card {
  display: inline-block;
  background: var(--lighten_2);
  padding: 0 1.5rem 1rem;
  border-radius: 1rem;
  box-shadow: var(--elevate_2);
  margin-bottom: 2rem;
}

.blog_card h3 {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .blog_list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .blog_card {
    padding: 0 2rem 1rem;
  }
}

@media screen and (min-width: 850px) {
  .blog_list {
    grid-template-columns: repeat(3, 1fr);
  }
}