.wrapper {
  display: flex;
  justify-content: center;
}

.dialEdge {
  position: relative;
  width: 230px;
  height: 230px;
  border-radius: 50%;
  background: linear-gradient(
  rgba(102, 102, 102, 60%) 5%, rgba(154, 154, 154, 60%) 50%,
  rgba(102, 102, 102, 60%) 95%),
    radial-gradient(#656666 5%, #9a9a9a 50%, #656666 95%);
  user-select: none;
}

