.wrapper {
  margin: 2rem auto 0;
  max-width: 90%;
  display: block;
}

.card {
  box-shadow: var(--elevate_2);
  padding: 2rem;
  text-align: center;
  color: var(--textDark);
  background: rgb(105,161,194);
  background: var(--lightBlueGradient);
  border-radius: 1rem;
}

.card h3 {
  margin-top: 1rem;
}