@import url('https://fonts.googleapis.com/css?family=Esteban:400|Montserrat:400');

html {
  box-sizing: border-box;
  font-size: 100%;
}

html,
body {
  padding: 0;
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  /* Colors */
  --red: #BF1A2F;
  --black: #121212;
  --darkBlue: #004E7C;
  --teal: #69a1c2;
  --orange: #FF9F1C;
  --apricot: #FFBF69;
  --forestGreen: #004E4C;
  --persianGreen: #339989;
  --white: #fff;
  --darkRed: rgba(78,21,21,1);
  --redRadial: radial-gradient(circle at bottom left, rgba(0,0,0,1) 23%, var(--darkRed) 44%, rgba(0,0,0,1) 57%, var(--darkRed) 77%, rgba(0,0,0,1) 94%);
  --blueRadial: radial-gradient(circle at bottom left, rgba(0,0,0,1) 23%, var(--darkBlue) 44%, rgba(0,0,0,1) 57%, var(--darkBlue) 77%, rgba(0,0,0,1) 94%);
  --greenRadial: radial-gradient(circle at bottom left, rgba(0,0,0,1) 23%, var(--forestGreen) 44%, rgba(0,0,0,1) 57%, var(--forestGreen) 77%, rgba(0,0,0,1) 94%);
  --lighten_1: rgba(255,255,255, 0.1);
  --lighten_2: rgba(255,255,255, 0.2);
  --lighten_3: rgba(255,255,255, 0.3);
  --darken_2: rgba(0,0,0,0.2);
  --darken_3: rgba(0,0,0,0.3);
  /* Color Purposes */
  --link: #fff;
  --primaryBG: var(--redRadial);
  --secondaryBG: var(--forestGreen);
  --textLight: var(--white);
  --textDark: var(--black);
  --textPrimary: var(--textLight);
  --textSecondary: var(--textDark);
  --blogLink: var(--teal);
  /* Shadows */
  --elevate_1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --elevate_2: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  /* Sizes */
  --headerHeight: 80px
}


/*16px*/

body {
  background: rgb(74,3,11);
  background: var(--primaryBG);
  font-family: 'Esteban', serif;
  font-weight: 400;
  line-height: 1.75;
  color: var(--textPrimary);
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

p {
  margin-bottom: 1rem;
}

/* Headings */

h1,
h2,
h3,
h4,
h5 {
  margin: 3rem 0 1.38rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  /* margin-top: 0; */
  font-size: 2.488rem;
}

h2 {
  font-size: 2.074rem;
}

h3 {
  font-size: 1.728rem;
}

h4 {
  font-size: 1.44rem;
}

h5 {
  font-size: 1.2rem;
}

small,
.text_small {
  font-size: 0.833rem;
}

/* Layout */



a {
  color: var(--textPrimary);
  text-decoration: none;
}

a.isBody {
  color: var(--textSecondary);
}

.text_center {
  text-align: center;
}

.sr_only:not(:focus):not(:active) {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}


@media screen and (max-width: 768px) {
  .isHiddenMobile {
    display: none;
  }
}