.hamburger {
  display: block;
  border: none;
  background: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background: var(--primaryBG);
}

@media screen and (min-width: 768px) {
  .hamburger {
    display: none;
  }
}