.main {
  max-width: 90%;
  margin: 0 auto;
}

.main p {
  font-size: 80%;
  text-align: center;
}

/* .main div:last-child {
  margin-bottom: 5rem;
} */

.main h3,
.main h4 {
  text-align: center;
}

.wrapper ul {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: 0;
}

.hero {
  display: grid;
  align-items: center;
  gap: 2rem;
  height: calc(100vh - var(--headerHeight));
}

/* .hero_img {
  width: 100%;
  border-radius: 50%;
} */

.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.shuffleButton {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  cursor: pointer;
  width: 100%;
}

.shuffleButton:focus {
  outline: dashed 2px var(--secondaryBG);
}

.shuffleButton li {
  box-shadow: var(--elevate_2);
  padding: 1rem;
  background: var(--secondaryBG);
  border-radius: 10px;
  text-align: center;
  color: #fff;
}
@media screen and (min-width: 768px) {
  .main p {
    font-size: 1.5rem;
    text-align: start;
  }

  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
}