.main {
  max-width: 90%;
  margin: 0 auto;
}

.main p {
  font-size: 80%;
  text-align: center;
}

.wrapper {
  margin-bottom: 4rem;
}

.wrapper ul {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: 0;
}

.hero {
  display: grid;
  align-items: center;
  gap: 2rem;
  height: calc(100vh - var(--headerHeight));
}

.banner {
  text-align: center;
}


.hideOverflow {
  text-align: center;
  overflow: hidden;
}

.shuffleButton {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  cursor: pointer;
  width: 100%;
}

.shuffleButton:focus {
  outline: dashed 2px var(--secondaryBG);
}

.shuffleButton li {
  padding: 1rem 2rem;
  border: 2px solid var(--textDark);
  font-size: 1.1rem;
  text-align: start;
}
@media screen and (min-width: 768px) {
  .main p {
    font-size: 1.5rem;
    text-align: start;
  }

  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  .banner {
    display: grid;
    align-items: center;
    justify-content: space-evenly;
    grid-template-columns: 48% 2% 48%;
  }

  .banner h2,
  .banner h4 {
    margin: 0;
    }
}